name: SonarQube Scan

on:
  push:
    branches:
      - main

jobs:
  sonar:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run SonarQube Scan
        run: |
          sonar-scanner \
            -Dsonar.projectKey=myproject \
            -Dsonar.sources=. \
            -Dsonar.host.url=http://localhost:9000 \
            -Dsonar.token=sqp_50a108a47bea6779a23ecb60bab16fefe5d34e25
      - name: Build Docker Image
        run: |
          docker build -t myapp:latest .
